/build
/bin
/local-config.properties
/local-boot.properties
/build.properties
*~
out
/resources/compiled
/resources/classes

/accounts.json
/charterbook.json
/keybindings.json
/windows.json
/config.json
